<div class="RegisterPage">
    <mat-card class="MainCard">
        <div class="LeftDivison">
            <h3 class='Header'>
                <span style="color: #6550da;">F</span>
                <span style="color: rgb(240, 14, 14)">u</span>
                <span style="color: orange">n</span>
                <span style="color: rgba(132, 0, 255, 0.815);">d</span>
                <span style="color: rgb(0, 128, 100);">o</span>
                <span style="color: rgb(253, 13, 13);">o</span>
            </h3>
            <h2 class="sub-header">Create your Fundoo Account</h2>
            <div>
                <form [formGroup]="RegisterForm" class='RegisterForm'>
                    <div class='RowContainer'>
                        <div class="Names">
                            <mat-form-field appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input matInput formControlName="firstName">
                                <mat-error *ngIf="RegisterForm.hasError('pattern','firstName')">Name should start with capital and contains atleast 4 letters</mat-error>
                                <mat-error *ngIf="RegisterForm.hasError('required','firstName')">First name is Required</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="lastName" appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName="lastName">
                                <mat-error *ngIf="RegisterForm.hasError('pattern','lastName')">Name should contains atleast 4 letters</mat-error>
                                <mat-error *ngIf="RegisterForm.hasError('required','lastName')">Last name is Required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="FormFields" appearance="outline" class="UserEmail">
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="email">
                            <span matSuffix class="icon" >@gmail.com</span>
                            <mat-error *ngIf="RegisterForm.hasError('email','email')">Invalid email</mat-error>
                            <mat-error *ngIf="RegisterForm.hasError('required','email')">Email is required</mat-error>
                            <mat-hint class="hint">You can use letters, numbers & periods</mat-hint>
                        </mat-form-field>
                    </div>
                    <h4 class="currentEmail">Use my current email address instead</h4>
                    <div class='RowContainer'>
                        <div class="Names">
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput formControlName="password" [type]="hide? 'password': 'text'" pattern="{{this.RegisterForm.value.password}}">
                                <mat-error *ngIf="RegisterForm.hasError('pattern','password')">Password should have letters, numbers & symbols</mat-error>
                                <mat-error *ngIf="RegisterForm.hasError('required','password')">Password is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="lastName" appearance="outline">
                                <mat-label>Confirm</mat-label>
                                <input matInput formControlName="confirmPassword" [type]="hide? 'password': 'text'" pattern="{{this.RegisterForm.value.password}}">
                                <mat-error *ngIf="RegisterForm.hasError('pattern','confirmPassword')">Password not Match</mat-error>
                                <mat-error *ngIf="RegisterForm.hasError('required','confirmPassword')">Password is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="passwordHint">
                        <mat-hint>Use 8 or more characters with a mix of letters, numbers & 
                        symbols</mat-hint>
                    </div>
                    <div class='RowContainer'>
                        <div class="check">
                            <mat-checkbox id="showPassword" (change)='hide=!hide'>Show Password</mat-checkbox>
                        </div>
                    </div>
                    <div class="ButtonContent">
                        <a mat-button href="/login">Sign in instead</a>
                        <button mat-flat-button color="primary" (click)="Register()">Register</button>
                    </div>                      
                </form>
            </div>
        </div>
        <div class="RightDivison">
            <img src="../../../assets/account.svg">
            <p>One Account. All of Fundoo <br>
                working for you.</p>
        </div>
    </mat-card>
</div>