<div class="Dashboard">
    <mat-toolbar>
        <div class="ToolbarIcons">  
            <button mat-icon-button aria-label="Main menu">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="imgicon">
                <img src="../../../assets/keepimage.png" width="40px" height="40px"/>
            </span>
            <span class="fundoo">Fundoo</span>
            <mat-form-field class="example-full-width" appearance="fill" [style.width.px]=650>
                <input matInput placeholder="Search">
                <mat-icon class="material-icons" matPrefix [style.margin-right.px]=12>search</mat-icon>
                <mat-icon class="material-icons" matSuffix [style.margin-right.px]=12>close</mat-icon>
            </mat-form-field>
            <button mat-icon-button class="refresh" matTooltip="Refresh">
                <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>view_list</mat-icon>
                <mat-icon>grid_view</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</div>