@mixin rowflex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ForgotpasswordPage{
    @include rowflex();
    height: 100vh;
    align-items: center;
}
.ForgotpasswordCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    height: 480px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border-radius: 5px;
    border: 2px #ebf0f7;
    .HeaderContent{
        display: flex;
        flex-direction: column;
        font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
        padding-top: 30px;
    }
    .subHeader{
        color: #202124;
        font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.3333;
    }
    .subHeader2{
        color: #202124;
        font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.1px;
        line-height: 1.5;
        padding-bottom: 10px;
    }
    .mat-form-field{
        width: 85%;
    }
    .ButtonContent{
        display: flex;
        justify-content: space-between;
        margin-top: 15%;
        align-items: center;
        a{
            margin-left: 15px;
            margin-top: -30px;
            color: #1a73e8;
            text-decoration: none;
            font-family: "Google Sans",Roboto,Arial,sans-serif;
            font-size: .875rem;
            letter-spacing: .0107142857em;
            font-weight: 500;
            text-transform: none;
        }
        button{
            color: white;
            background-color: var(--gm-colortextbutton-ink-color,#1a73e8);
            margin-right: 4ex;
            margin-top: -30px;
            display: table-cell;
            width: 80px;
        }
    }
}