<div class="ForgotpasswordPage">
    <mat-card class="ForgotpasswordCard">
        <div class="HeaderContent">
            <mat-card-title>
                <p>
                    <span style="color: #6550da;">F</span>
                    <span style="color: rgb(240, 14, 14)">u</span>
                    <span style="color: orange">n</span>
                    <span style="color: rgba(132, 0, 255, 0.815);">d</span>
                    <span style="color: rgb(0, 128, 100);">o</span>
                    <span style="color: rgb(253, 13, 13);">o</span>
                </p>
            </mat-card-title>
            <h2 class="subHeader">Find your Password</h2>
            <h3 class="subHeader2">Enter your email to Recover the password</h3>
            <form class="forgotpasswordForm">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>EmailId</mat-label>
                        <input matInput placeholder="EmailId">
                    </mat-form-field>
                </div>
                <div class="ButtonContent">
                    <a mat-button href="/login">Sign In</a>
                    <button mat-button color="primary">Next</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>