<mat-card class="MainCard">
    <mat-card-title class="dummy-card-title" (click)="show =!show">
        <input type="text" placeholder="Take a note..">
    </mat-card-title>
    <mat-card-subtitle class="sideicons">
        <mat-icon mat-list-icon class="material-icons-outlined sideiconone">check_box</mat-icon>
        <mat-icon mat-list-icon class="brush">brush</mat-icon>
        <mat-icon mat-list-icon class="material-icons-outlined">crop_original</mat-icon>
    </mat-card-subtitle>
</mat-card>