<div class="LoginPage">
    <mat-card class="LoginCard">
        <div class="HeaderContent">
            <mat-card-title>
                <p>
                    <span style="color: #6550da;">F</span>
                    <span style="color: rgb(240, 14, 14)">u</span>
                    <span style="color: orange">n</span>
                    <span style="color: rgba(132, 0, 255, 0.815);">d</span>
                    <span style="color: rgb(0, 128, 100);">o</span>
                    <span style="color: rgb(253, 13, 13);">o</span>
                </p>
            </mat-card-title>
            <h2 class="subHeader">Sign in</h2>
            <h3 class="subHeader2">Use your Fundoo Account</h3>
            <form class="loginForm">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Email or phone</mat-label>
                        <input matInput placeholder="Email or phone">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password">
                    </mat-form-field>
                </div>
                <div>
                    <a mat-flat-button href="/forget-password">Forget Password?</a>
                </div>
                <div class="ButtonContent">
                    <a mat-button href="/register">Create account</a>
                    <button mat-button color="primary">Sign In</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>