<div class="ResetpasswordPage">
    <mat-card class="ResetpasswordCard">
        <div class="HeaderContent">
            <mat-card-title>
                <p>
                    <span style="color: #6550da;">F</span>
                    <span style="color: rgb(240, 14, 14)">u</span>
                    <span style="color: orange">n</span>
                    <span style="color: rgba(132, 0, 255, 0.815);">d</span>
                    <span style="color: rgb(0, 128, 100);">o</span>
                    <span style="color: rgb(253, 13, 13);">o</span>
                </p>
            </mat-card-title>
            <h2 class="subHeader">Reset Password</h2>
            <h3 class="subHeader2">Create a New and Strong password</h3>
            <form [formGroup]="ResetPasswordForm">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input matInput formControlName="password" [type]="hide? 'password': 'text'" pattern="{{this.ResetPasswordForm.value.password}}">
                        <mat-error *ngIf="ResetPasswordForm.hasError('pattern','password')">Password should have letters, numbers & symbols</mat-error>
                        <mat-error *ngIf="ResetPasswordForm.hasError('required','password')">Password is required</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput formControlName="confirmPassword" [type]="hide? 'password': 'text'" pattern="{{this.ResetPasswordForm.value.password}}">
                        <mat-error *ngIf="ResetPasswordForm.hasError('pattern','confirmPassword')">Confirm Password not Match</mat-error>
                        <mat-error *ngIf="ResetPasswordForm.hasError('required','confirmPassword')">Password is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="check">
                    <mat-checkbox id="showPassword" (change)="hide=!hide">Show Password</mat-checkbox>
                </div>
                <div class="ButtonContent">
                    <button mat-flat-button color="primary" (click)="ResetPassword()">Reset</button>
                </div> 
            </form>
        </div>
    </mat-card>
</div>